<link rel="stylesheet" href="/stylesheets/partials.css" />
<nav class="navbar">
<div class="logo">Pursuit</div>
<div class="menu">
    <a href="/">Home</a>
    <% if(user) { %>
    <a href="/users/<%= user._id %>/dreams">View My Bucket List</a>
    <a href="/users/<%= user._id %>/dreams/add">Add New Dream</a>
    <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
    <a href="/auth/sign-in">Sign In</a>
    <a href="/auth/sign-up">Sign Up</a>
    <% } %>
</div>
<div class="hamburger" onclick="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
</div>
</nav>

<script>
    function toggleMenu() {
        const menu = document.querySelector('.navbar .menu');
        menu.classList.toggle('active');
    }
</script>
